// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topphoto{
  width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 50%;
}

#topblog{
  width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 50%;
}