// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photopost{
  width: 350px;
  height: 700px;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  display: none;
  padding: 200px 20px;
  position: absolute;
  top: -100px;
  left: 500px;
}

#photopostbutton{
  position: fixed;
  top: 600px;
  left: 1200px;
}

#test{
  width: 600px;
  height: 1000px;
}